<form method="post" action="/login">
    <label for="title-input">Name:</label>
    <input id="title-input-1" name="name" type="text" value="{{name}}" tabindex="1">

    <label for="title-input" >Password:</label>
    <input id="title-input-3" name="password" type="text" value="{{password}}" tabindex="2">

    <input type="submit" value="Log in" tabindex="3">
</form>