<form method="post" action="/success">
    <label for="title-input" class="block mar-b-1">Name:</label>
    <input id="title-input-1" name="name" type="text" tabindex="1">

    <label for="title-input" class="block mar-b-1">Email:</label>
    <input id="title-input-3" name="email" type="text" tabindex="1">

    <label for="title-input" class="block mar-b-1">Password:</label>
    <input id="title-input-3" name="password" type="text" tabindex="1">

    <input type="submit" value="Sign up" tabindex="4">
</form>