<h3> {{newUser.name}}, поздравляю! Вы успешно зарегистрированы!</h3>
<div>
    Добро пожаловать в мир вечеринок! <br>
Здесь вы можете искать вечеринки, присоединяться к ним и создавать свои!<br>
<a href="/parties">Начать</a>
</div>